#do{border-style: dotted;}
#da{border-style: dashed;}
#so{border-style: solid;}
#dob{border-style: double;}
#gro{border-style: groove;}
#rid{border-style: ridge;}

#ex{
font-size: 15px;
padding: 20px;
margin: 20px;
width: 100px;
height: 20px;
border: solid 4px gray;
border-radius: 20px;
box-shadow: 10px 10px cornflowerblue;
color: gray;
}

#d1{
    background-color: blanchedalmond;
    width: 20px;
    height: 20px;
    position: relative;
    top: 100px;
    left: 50px;
}

p:hover{
    background-color: lightblue;
}